<h3 class="text-center">RETIRO DE EFECTIVO</h3>

<div class="saldo-container">
  <span class="saldo-label">SALDO DISPONIBLE EN CUENTA:</span>
  <div class="saldo-box">
    $ {{ saldoDisponible | number:'1.2-2' }}
  </div>
</div>

<div class="mt-4" [formGroup]="retiroForm">
  <label class="d-block text-center text-white-50 mb-2">INGRESE CANTIDAD A RETIRAR:</label>
  
  <input type="number"
         class="atm-input blink-caret"
         formControlName="monto"
         placeholder="0.00"
         autofocus>
</div>